<div class="show-container">
  <h1>Bookmarked Movies in <%= @list.name %></h1>
  <a href="#form-container" class="green-btn">Add a movie</a>
  <ul>
    <div class="row">
      <% @list.movies.each do |movie| %>
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <div class="col-xs-12 col-md-4">
          <div class="movie-card">
            <img src=<%= movie.poster_url %> class='movie-picture'>
            <div class="card-details">
              <p><strong><%= movie.title %></strong> ⭐️<%= movie.rating %></p>
            </div>
            <div class="movie-overview"><p><%= movie.overview %></p></div>
            <div class="card-end">
              <p>"<%= bookmark.comment %>"</p>
              <p><%= link_to 'Remove', bookmark_path(bookmark), method: :delete %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </ul>
</div>

<div id="form-container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="basic-form">
        <h1 class="basic-title">Add a movie to <%= @list.name %></h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to 'back', lists_path %>
    </div>
  </div>
</div>
