<div class="container mt-4">
  <% @list.name %>

  <%= link_to 'Add a new movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>

  <ul>
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <li><%= movie.poster_url %></li>
      <li><%= movie.title  %></li>
      <li><%= movie.rating %></li>
      <li><%= movie.overview %></li>
      <%= link_to 'Remove', bookmark_path(bookmark), class: 'btn btn-primary', method: :delete %>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="basic-form">
        <h1 class="basic-title">Add a new bookmark for <%= @list.name %></h1>
        <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.input :comment %>
          <%= f.association :movie %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to 'back', lists_path %>
    </div>
  </div>
</div>

